$orange: #f0ad4e;
$dark-orange: #e2671f;
$dark-blue: cadetblue;
$top-padding: 15px;

textarea {
    resize: none;
}

body {
    background-color: black;
    background: url("/Images/Site/bg_cinema.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    direction:rtl;
    //padding-top: 10px;
    padding-bottom: 50px;
    //background-color: transparent;
    //opacity: 0.4;
    //filter: alpha(opacity=40);
}

form {
    margin: 0 !important;
}

.bg_cover {
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: -1;
}

#footer {
    padding-top: 12px;
    color: #777;
}

#shows-carousel {
    height: 60vh;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;

    a:hover {
        color: $orange !important;
    }
}

.navbar-header a {
    color: $orange !important;
}

.carousel-caption {
    font-size: 30px;
    top: 0;
}

.welcome-footer {
    border-top: 1px solid black;
    padding-top: 10px;
    color: white;
    text-shadow: 0 1px 2px black;
}

.text-shadow {
    text-shadow: 1px 1px 2px black;
}

.carousel-control {
    color: $orange;
}

.carousel-control:hover {
    color: $dark-orange;
}

.carousel-indicators li {
    background: $orange;
    border-color: black;
}

.errorMessage {
    color: red;
}

.white-text {
    color: white;
}

#show-details {
    margin-top: 10%;
    //border: solid black 1px;
}

.top-padding {
    padding-top: 5px;
}

#ContentPlaceHolder1_SoldOutPic {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    padding-top: 95px;
    padding-right: 15px;
}

#tickets-type {
    right: 40px;
    //position: absolute;
    select {
        right: 40px;
        position: absolute;
    }
}

select {
    color: black;
    //float: right;
}

.modal-header {
    background-color: $orange;
}

.panel-heading {
    background-color: $orange !important;

    h3 {
        margin: 0;
    }
}

.modal-content {
    overflow: hidden;
}

#LoginBtn {
    color: #333;
    border-color: #333;
}

#welcome-panel {
    background-color: transparent;
    //opacity:0.4;
}

#welcome-size {
    margin: auto;
    color: orange;
    position: relative;
}

.transparent-box {
    background-color: #efe7e7;
    // border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=80);
}

.transparent-box h1 {
    color: orange;
    opacity: 1;
}

.panel-size { /* use for forms */
    background: rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    padding-top: 10px;
    border-color: none;
}

.panel-profile { /* use for profile, my account */
    background: rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    padding-top: 10px;
    //height: 270px;
}

.font-panel { /*use for panel's font in MyAccount.aspx*/
    font-size: 15px;
    line-height: 30px;
}

.font-panel .bold {
    font-weight: bold;
}

.body-center {
    margin-left: 20px;
    margin-right: 20px;
}

.body-content {
    margin-top: 50px;
    //margin-bottom: 50px;
    //overflow-y: visible;
}

.panel-carousel { /* use for profile, my account */
    background: rgba(0, 0, 0, 0.6);
    //min-width: 30px;
    border: 1px white solid;
    color: white;
}

#description-div {
    max-height: 43px;
    overflow-y: scroll;
    //background: lavenderblush;
    border: 1px lightgray solid;
    //color: black;
    padding-right: 15px;
    margin-right: 0;
}

#ContentPlaceHolder1_RegPanel {
    margin-top: 7px;
}

.panel {
    margin-bottom: 5px;
}

#ShowImageDiv {
    max-height: 400px;
    overflow: hidden;
}

.carousel-img {
    width: 100vw;
}

#dateSearchPanel {
    padding-bottom: 0;
}

.badge {
    background: $dark-orange;
    margin-right: 1px;
    margin-top: 1px;
}

.no-margin {
    margin: 0;
}

.show-sellings {
    top: 10px;
    position: absolute;
    right: 25px;
}

.default-curser {
    cursor: default;
}

.edit-show-img {
    max-height: 230px;
    overflow: hidden;
    border-radius: 10px;
}
